# Ignore anything that isn't code or resources
Runtime/
target/
.idea/
*.iml
.classpath
.project
.settings/
.gradle/
build/
dependency-reduced-pom.xml

# Package Files
*.jar
*.war
*.ear

# Not Ignored
!/src/main/resources/*
!gradle/wrapper/*